<div style="background-color:rgb(247, 100, 2)"> 
  <head>
    <link rel="icon" href="assets/aks.webp">
    <link rel="stylesheet" href="./app.component.css"></head>
  <body>
    <h1>Hello there!</h1>
    
    <h2>A TOUR TO THE WONDERS!!</h2>
    <h3>There are 7 wonders in the world</h3>
    <div class="mat-typography-level(16px, 24px, 500)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WONDER 1 : GREAT WALL OF CHINA(CHINA)</div>
    <div class="mat-typography-level(16px, 24px, 500)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WONDER 2 : CHRIST THE REDEEMER STATUE(RIO DE JANEIRO</div>
    <div class="mat-typography-level(16px, 24px, 500)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WONDER 3 : MACHU PICCHU (PERU)</div>
    <div class="mat-typography-level(16px, 24px, 500)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WONDER 4 : CHICHEN ITZA</div>
    <div class="mat-typography-level(16px, 24px, 500)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WONDER 5 : THE ROMAN COLOSSEUM</div>
    <div class="mat-typography-level(16px, 24px, 500)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WONDER 6 : TAJ MAHAL</div>
    <div class="mat-typography-level(16px, 24px, 500)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WONDER 7 : PETRA</div>
    
    
    <h3>Which wonder do u want to know?</h3>
  
    <nav>
    &nbsp; &nbsp; <button mat-raised-button color="accent"><a routerLink="/wonder1" >GREAT WALL OF CHINA(CHINA)</a></button>
    &nbsp; &nbsp; <button mat-raised-button color="primary"><a routerLink="/wonder2" >CHRIST THE REDEEMER STATUE(RIO DE JANEIRO)</a></button>
    &nbsp; &nbsp; <button mat-raised-button color="warn"><a routerLink="/wonder3" >MACHU PICCHU (PERU)</a></button>
    &nbsp; &nbsp; <button mat-raised-button color="primary"><a routerLink="/wonder4" >CHICHEN ITZA</a></button>
    &nbsp; &nbsp; <button mat-raised-button color="accent"><a routerLink="/wonder5" >THE ROMAN COLOSSEUM</a></button>
    &nbsp; &nbsp; <button mat-raised-button color="warn"><a routerLink="/wonder6" >TAJ MAHAL</a></button>
    &nbsp; &nbsp; <button mat-raised-button color="primary"><a routerLink="/wonder7" >PETRA</a></button>
  </nav>
</body>
  
  
  <router-outlet></router-outlet>

